# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

#docker config

# composer cache
/docker/run/cache
# ssl
/docker/run/ssl

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# swagger
/api/web/swagger.yml
/api/web/swagger.json

# images dir
/storage

# backup dir
/backups

# mail box
/common/mailbox/
